.appointmentForm {
  max-width: 800px;
  margin: 0;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 40px;
}

.row {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.card {
  display: flex;
  padding: 2rem 0;
  gap: 1rem;
  align-items: center;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--main-color);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.2rem;
  box-sizing: border-box;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nanny {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #8a8a89;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
  margin: 0;
}

.commentArea {
  min-height: 100px;
  resize: vertical;
}

input,
textarea {
  padding: 10px;
  font-size: 16px;
  height: 40px;
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
}

.error {
  color: red;
  font-size: 14px;
}

/* Мобильная версия */
@media (max-width: 768px) {
  .appointmentForm {
    max-width: 700px;
  }

  .row {
    flex-direction: column;
  }

  input,
  textarea {
    padding: 8px;
    font-size: 14px;
    height: 28px;
  }

  .field {
    min-width: 100%;
  }

  .commentArea {
    min-height: 80px;
  }

  .fieldsContainer {
    gap: 0.6rem;
    margin-bottom: 20px;
  }
}
