.card {
  display: flex;
  border: 1px solid var(--background-color);
  padding: 1.5rem;
  gap: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 7.5rem;
  height: 7.5rem;
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.content {
  max-width: 74rem;
  flex: 1;
}

.head {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.favoriteBtn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  /* margin-left: auto; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.heartIcon path {
  fill: none;
  stroke: var(--main-color);
  stroke-width: 2;
  transition: fill 0.25s ease, stroke 0.25s ease;
}

.filled path {
  fill: var(--main-color);
  stroke: var(--main-color);
}

.favoriteBtn:hover .heartIcon path {
  fill: rgba(84, 190, 150, 0.2);
}

.age,
.education {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.age p,
.education p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);

  border-radius: 1.5rem;
  padding: 8px 16px;
  background: var(--background-color);
  margin-bottom: 0.5rem;
}

.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: var(--main-color);
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-decoration-thickness: 2px;
}

.prise {
  color: var(--dop-color);
}

.headInfa {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.infoBlock {
  display: flex;
  gap: 6px;
}

.card p {
  margin: 4px 0;
}

.card button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}

.card button:hover,
.card button:active {
  text-decoration-color: var(--main-color);
  text-decoration-thickness: 3px;
}

.light_color {
  color: var(--text-color-);
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }
  .nanny {
    display: none;
  }
}
