.btn_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.btn_load {
  padding: 14px 40px;
  border: 2px solid var(--text-color);
  border-radius: 30px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  background: var(--bac);
  color: var(--text-color);
}

.btn_load:hover,
.btn_load:active {
  border: 2px solid var(--main-color);
  color: var(--main-color);
}
