.container {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
