.hero {
  display: flex;
  width: 100%;
  /* min-height: 31.25rem; */
  min-height: 100svh;
  /* min-height: calc(100svh? - 64px); */
  border-radius: 2rem;
  overflow: hidden;
}

.left {
  flex: 1;
  background-color: var(--main-color);
  padding: 4rem 3.75rem 4rem 4.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.subtitle {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.07;
  letter-spacing: -0.02em;
  color: var(--text-color);
  max-width: 31.25rem;
  margin-bottom: 2.5rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;

  padding: 0.75rem 1.5rem;
  width: fit-content;
  border-radius: 30px;
  color: var(--white);
  /* border: 1px solid var(--white); */
  border: 2px solid var(--text-color);

  background: transparent;
  /* color: var(--text-color); */
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  scale: 1.1;
  background: var(--accent-color);
}

.arrow {
  font-size: 1.25rem;
}

.right {
  flex: 1;
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

@media (max-width: 1440px) {
  .left {
    padding: 3rem 2.5rem;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  .right {
    width: auto;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    border-radius: 1.5rem;
  }
  .right,
  .left {
    flex: 1;
  }

  .left {
    order: 2;
    align-items: center;
    text-align: center;
  }

  .right {
    order: 1;
    width: 100%;
    height: auto;
  }

  /* .left {
    order: 2;
    align-items: center;
    text-align: center;
  }

  .right {
    order: 1;
    min-height: 40vh;
    width: 100%;
  } */

  .title {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .btn {
    width: auto;
    padding: 0.5rem 1rem;
  }
}
