.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(25, 26, 21, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: #fbfbfb;
  border-radius: 30px;
  border: 3px solid var(--main-color);

  width: 100%;
  max-width: 600px;
  min-width: 480px;
  box-sizing: border-box;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  /* font-size: 18px; */
  cursor: pointer;
  border: none;
}

@media (max-width: 767px) {
  .closeBtn {
    top: 10px;
    right: 10px;
  }
  .modal {
    max-width: 400px;
  }
}
