.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(25, 26, 21, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: #fbfbfb;
  border-radius: 30px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background: var(--text-color-on-fone);
}

@media (max-width: 767px) {
  .closeBtn {
    top: 10px;
    right: 10px;
  }
}
