.wrapper {
  position: relative;
  width: 226px;
}

.label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--text-color);
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 18px;
  width: 226px;
  height: 24px;

  border-radius: 14px;
  background: var(--main-color);

  font-weight: 600;
  font-size: 16px;
  color: var(--white);

  cursor: pointer;

  margin-bottom: 24px;
}

.arrow {
  font-size: 12px;
  transition: transform 0.2s ease;
}

.open {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;

  width: 226px;
  height: 244px;

  border-radius: 14px;
  background: #fff;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);

  display: flex;
  flex-direction: column;
  padding: 12px 0;

  z-index: 10;
}

.option {
  padding: 10px 18px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: rgba(17, 16, 28, 0.3);
}

.option:hover {
  background: #f5f5f5;
}

.selected {
  color: var(--text-color);
  font-weight: 600;
}
/* .option.selected {
  color: var(--text-color);
  font-weight: 600;
} */
