.login,
.register,
.appointment {
  padding: 64px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 12px;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  max-width: 430px;
  margin-bottom: 40px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  margin-bottom: 40px;
}

.fields input {
  padding: 16px 18px;

  border-radius: 12px;
  border: 1px solid rgba(25, 26, 21, 0.1);

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background: transparent;
}

.fields input::placeholder {
  color: rgba(25, 26, 21, 0.5);
}

.submitBtn {
  width: 100%;
  height: 52px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--main-color);
  color: var(--text-color);

  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color-on-fone);
  cursor: pointer;
}

.submitBtn:after,
.submitBtn:hover {
  background-color: var(--accent-color);
}

.passwordField {
  position: relative;
  display: flex;
  align-items: center;

  border-radius: 12px;
  border: 1px solid rgba(25, 26, 21, 0.1);
  background: transparent;
}

.passwordField input {
  border: none;
  outline: none;

  padding: 16px 18px;
  padding-right: 48px;

  width: 100%;
  font-family: var(--font-family);
  font-size: 16px;
  background: transparent;
}

.eyeBtn {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeBtn img {
  width: 20px;
  height: 20px;
}

@media (max-width: 1439px) {
  .login,
  .register {
    padding: 48px;
  }

  .fields,
  .submitBtn {
    width: 100%;
    font-size: 16px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 15px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .login,
  .register {
    padding: 24px;
    border-radius: 20px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .fields {
    width: 100%;
    gap: 14px;
    margin-bottom: 24px;
  }

  .fields input {
    font-size: 14px;
  }

  .submitBtn {
    width: 100%;
    height: 48px;
    font-size: 14px;
  }
}
