:root {
  /* Colors */
  --main-color: #54be96;
  --secondary-color: #8a8a89;
  --accent-color: #36a379;
  --dop-color: #38cd3e;
  --background-color: #f3f3f3;
  --text-color: #11101c;
  --white: white;
  --text-color-on-fone: #fbfbfb;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--white);
}

body {
  margin: 0;
  font-family: "inter", sant-serif;
}

h2 {
  margin-top: 0;
}
