:root {
  /* Colors */
  --main-color: #54be96;
  --secondary-color: #8a8a89;
  /* --accent-color: #ff6b6b; */
  --background-color: #f3f3f3;
  --text-color: #11101c;
  --text-color-on-fone: #fbfbfb;
}

button {
  all: unset;
  cursor: pointer;
}
