:root {
  /* Colors */
  --main-color: #54be96;
  --secondary-color: #8a8a89;
  --accent-color: #36a379;
  --dop-color: #38cd3e;
  --background-color: #f3f3f3;
  --text-color: #11101c;
  --white: white;
  --text-color-on-fone: #fbfbfb;
}

button {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}
