.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 32px;
  border-bottom: 1px solid var(--background-color);
}

/* ---------- LOGO ---------- */

.logo {
  font-family: var(--font-family);
  font-size: 20px;
}

.logoPrimary {
  color: var(--main-color); /* зелёный */
}

.logoSecondary {
  font-weight: 700;
  margin-left: 4px;
  color: var(--text-color);
}

/* ---------- NAV ---------- */

.nav {
  display: flex;
  gap: 32px;
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);

  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.link:hover,
.link:active {
  color: var(--main-color);
}

/* ---------- AUTH ---------- */

.auth {
  /* display: flex;
  gap: 12px; */

  display: flex;
  /* align-items: center;
  justify-content: center;
  flex-direction: row; */
  gap: 8px;
}

.authBtn {
  /* background: transparent;
  border: 1px solid var(--text-color);
  border-radius: 999px; 
  padding: 8px 16px; */

  border: 1px solid var(--text-color);
  border-radius: 30px;
  padding: 14px 39px;
  /* width: 124px; */
  /* height: 48px; */

  font-family: var(--font-family);
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.authBtn:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}
