.header {
  /* position: sticky; */
  /* position: absolute; */
  top: 0;
  width: 100%;
  height: 52px;
  padding: 8px 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
}

.logo {
  font-family: var(--font-family);
  font-size: 22px;
}

.logoPrimary {
  color: var(--main-color);
}

.logo:hover {
  transform: scale(1.1);
}

.logoSecondary {
  font-weight: 700;
  margin-left: 4px;
  color: var(--text-color);
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);

  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.link:hover,
.link:active {
  transform: scale(1.1);
  color: var(--main-color);
}

.userIcon {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.userIcon img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}

.userBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.auth {
  display: flex;
  align-items: center;
  gap: 8px;
}

.authUser {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #191a15;
  padding-right: 16px;
}

.authBtn {
  border: 1px solid var(--accent-color);
  border-radius: 30px;

  height: 40px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  background-color: var(--white);
}

.authBtn:hover,
.authBtn:active {
  border-color: var(--main-color);
  color: var(--main-color);
}

@media (max-width: 1440px) {
  .headerInner {
    padding: 8px 20px;
  }

  .nav {
    gap: 20px;
  }

  .authBtn {
    padding: 10px 24px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 40px;
  }

  .headerInner {
    padding: 8px 12px;
  }

  .logo {
    font-size: 16px;
  }

  .nav {
    gap: 8px;
  }

  .link {
    font-size: 14px;
  }

  .userIcon {
    width: 30px;
    height: 30px;
    border-radius: 6px;
  }

  .userIcon img {
    width: 16px;
    height: 16px;
  }

  .auth {
    gap: 6px;
  }

  .authBtn {
    padding: 6px 12px;
    font-size: 13px;
  }
}
