.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 52px;
  padding: 8px 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 32px;
  border-bottom: 1px solid var(--background-color);
}

.logo {
  font-family: var(--font-family);
  font-size: 20px;
}

.logoPrimary {
  color: var(--main-color);
}

.logoSecondary {
  font-weight: 700;
  margin-left: 4px;
  color: var(--text-color);
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);

  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.link:hover,
.link:active {
  color: var(--main-color);
}

.auth {
  display: flex;
  gap: 8px;
}

.authBtn {
  border: 1px solid var(--text-color);
  border-radius: 30px;
  padding: 14px 39px;

  font-family: var(--font-family);
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.authBtn:hover,
.authBtn:active {
  border-color: var(--main-color);
  color: var(--main-color);
}

@media (max-width: 1440px) {
  .headerInner {
    padding: 12px 24px;
  }

  .nav {
    gap: 20px;
  }

  .authBtn {
    padding: 10px 24px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .headerInner {
    padding: 10px 12px;
  }

  .logo {
    font-size: 16px;
  }

  .nav {
    gap: 8px;
  }

  .link {
    font-size: 14px;
  }

  .auth {
    gap: 6px;
  }

  .authBtn {
    padding: 6px 12px;
    font-size: 13px;
  }
}
